
{% extends "base.html" %}

{% block page_content%}



    <div class="container text_align=center">

        <form class="form form-horizontal" method="POST"  name="login">

            <div class="container">
            {% for message in get_flashed_messages()%}
            <div class="alert alert-warning alert-dismissible" role="alert">


                <strong>{{message}} </strong>
            </div>
            {% endfor %}


            <h2 >Please login</h2>

                <br>

                     {{ form.hidden_tag() }}
            <div>
                     {{form.username.label}}
                <br>
                    {{form.username}}
                <ul>
                         {% for error in form.username.errors%}
                          <li style="color:red">{{error}}</li>
                        {%endfor%}
                </ul>
            </div>

            <div>
                {{form.password.label}}
                <br>
                {{form.password}}
                   <ul>
                      {% for error in form.password.errors%}
                         <li style="color:red">{{error}}</li>
                      {%endfor%}
                   </ul>
            </div>
                  <br>

                 <input class="btn btn-primary" type="submit" value="LOGIN">
            </div>
        </form>

    </div>
{% endblock%}